.Counter {
  text-align: center;
  font-size: 5rem;
  line-height: 4rem;
}

.Reset {
  text-align: center;
}

#minusBtn, #plusBtn {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  padding: 20px 50px;
  margin: 10px;
  background-color: rgb(240, 135, 196);
}

#plusBtn {
  background-color: rgb(104, 207, 238);
}

#resetBtn {
  cursor: pointer;
  font-size: large;
  border: none;
  padding: 20px 50px;
  background-color: antiquewhite;
}
